<a class="btn btn-info" href="/product/add">Add new product</a>
<br><br>
<table class="table table-bordered">
   <tr>
      <th>Product name</th>
      <th>Product color</th>
      <th>Product brand</th>
      <th>Product category</th>
      <th>Product image</th>
   </tr>
   {{#each products }}
   <tr>
      <td>{{ model }}</td>
      <td>{{ color }}</td>
      <td>{{ brand.name }}</td>
      <td>{{ category.name}}</td>
      <td>
         <img src="{{ image }}" alt="" width="100" height="120">
      </td>
   </tr>
   {{/each}}
</table>